/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button, a.button {
	display: inline-block;
	padding: 13px 40px 13px 20px;
	background-color: var(--Blue);
	color: var(--White);
	border-radius: 30px;
	font-size: 14px;
	font-family: var(--HeadCopy);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.072em;
	background-image: url('../images/right-arrow-green.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 95% center;
	transition: all linear 250ms;
	cursor: pointer;
	&:hover, &:focus{
		background: color( var(--Blue)  lightness(50%) );
		background-image: url('../images/right-arrow-green.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 95% center;
	}
	&:active {
		background: color( var(--Blue)  lightness(50%) );
		background-image: url('../images/right-arrow-green.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 95% center;
		transition: all linear 250ms;
	}
}

button.button-green, .button-green, a.button-green, .gform_page_footer input[type="button"], .btn--primary {
	display: inline-block;
	padding: 13px 40px 13px 20px !important;
	border: none;
	background-color: var(--Bright-Green);
	color: var(--Blue);
	cursor: pointer;
	border-radius: 30px;
	font-size: 14px !important;
	font-family: var(--HeadCopy) !important;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.072em;
	background-image: url('../images/blue-arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 95% center;
	transition: all linear 250ms;
	&:hover, &:focus {
		background: color( var(--Bright-Green)  blackness(50%) );
		background-image: url('../images/blue-arrow-right.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 95% center;
	}
	&:active {
		background: color( var(--Bright-Green)  blackness(50%) );
		background-image: url('../images/blue-arrow-right.svg');
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: 95% center;
		transition: all linear 250ms;
	}
}

.gform_wrapper .gform_page_footer .button.gform_previous_button{
	padding: 13px 20px 13px 40px !important;
	background-position: 5% center;
	background-image: url('../images/blue-arrow-left.svg');
}

.square-btn{
	display: inline-block;
  color: var(--White-Copy);
  background-color: var(--Blue);
  padding: 15px 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: all .25s ease-in-out;
  margin: 0 5px;
	text-align: center;
  &:hover, &:focus{
    background-color: color( var(--Blue)  blackness(50%) );
    transition: all .25s ease-in-out;
  }
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
