/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {

}
input {
  border: none;
  background-color: var(--MidBlue);
  color: var(--White-Copy);
  padding: 10px 4px !important;
  &:focus{
    outline: none;
  }
  &::placeholder{
    color: #BBBBBB;
  }
}
input[type="text"]{
  width: 100% !important;
}
select {
  border: none;
  border-radius: 0;
  appearance: none;
  background-color: var(--MidBlue);
  width: 100% !important;
  color: var(--White-Copy);
  background-image: url('../images/select-bg.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 11px 19px;
  padding: 7px 4px !important;
  &:focus{
    outline: none;
  }
}
textarea {
  border: none;
  width: 100% !important;
  background-color: var(--MidBlue);
  color: var(--White-Copy);
  &::placeholder{
    color: #BBBBBB;
  }
  &:focus{
    outline: none;
  }
}

.gfield_error label{
  color: red !important;
}

/*-----------------------------------------
    GRAVITY FORM OVERRIDES
-----------------------------------------*/
.gfield_label{
  color: var(--White-Copy);
  font-size: 12px;
}

.gfield_required{
  display: none;
}

.ginput_container_time label, .ginput_container_time i {
  display: none !important;
}

.gform_wrapper .gf_page_steps{
  border-bottom: none !important;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
  margin: 0 !important;
}

.gform_wrapper ul.gfield_radio li input[type=radio], .gform_wrapper ul.gfield_radio li input[type=radio]:focus{
  min-width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
  border: 1px solid #979797 !important;
  border-image: none !important;
  background-color: var(--Blue);
  line-height: 0 !important;
  padding: 0 !important;
  appearance: none;
}

.gform_wrapper ul.gfield_radio li input[type=radio]:focus, .gform_wrapper ul.gfield_radio li input[type=radio]:checked{
  background-image: url('../images/radio-oval.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 41.67%;
}

.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li{
  z-index: 700;
}
.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: inherit !important;
}

.gform_wrapper li.gfield.gfield_error { 
  margin-right: 0 !important; 
}
.validation_message { 
  display: none !important; 
}
.gform_wrapper li.gfield.gfield_error, 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.gform_wrapper li.gfield_error textarea {
  border: none !important;
  border: 2px solid red !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
body .gform_wrapper .top_label div.ginput_container {
  margin-top: .25rem !important;
} 
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1 !important;
  min-height: 1rem !important;
}
.gform_footer {
  padding-bottom: 0 !important;
}
.LV_valid_field { 
  border: 2px solid green !important; 
}