.search-dropdown{
  display: none;
  height: 20vh;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 95px;
  background-color: color(var(--White) alpha(90%));
  overflow: hidden;
  .dropdown-contain{
    @add-mixin Flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .search-contain{
      width: 35%;
      @media(--980vp){
        width: 80%;
      }
      form{
        border: none;
        input{
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid var(--Blue);
          background-color: transparent;
          width: 100%;
          min-height: 50px;
          color: var(--Blue-Copy);
          font-family: var(--BodyCopy);
          font-size: 28px;
          letter-spacing: 0.05em;
          line-height: 0.8;
          &::placeholder{
            color: var(--Blue-Copy);
            font-family: var(--BodyCopy);
            font-size: 28px;
            letter-spacing: 0.05em;
          }
        }
      }
    }
  }
}