/*-----------------------------------------
    FONTS
-----------------------------------------*/
@font-face {
  font-family: 'Mont-Bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont-Reg';
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Mont-light';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont-Xlight';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
}
h1, .widget h1 {  }
h2, .widget h2 {  }
h3, .widget h3 {  }
h4, .widget h4 {  }
h5, .widget h5 {  }
h6, .widget h6 {  }
h1 + h2 { 
	font-family: var(--SubHeadCopy);
}
h2 + h3 {  
	font-family: var(--SubHeadCopy);
}
h3 + h4 {  
	font-family: var(--SubHeadCopy);
}
p {
	font-family: var(--BodyCopy);
  line-height: 1.4;
  font-size: responsive 14px 16px;
  font-range: 420px 1440px;
}
ol, ul {
	font-family: var(--BodyCopy);
  padding-left: 1rem;
}
li {  
	font-family: var(--BodyCopy);
}
a {
	font-family: var(--BodyCopy);
  &:hover, &:focus, &:active{

  }
}
hr {
  height: 2px;
  margin: 16px 0;
  background: var(--Grey);
  border: none;
}
blockquote, q {
  margin: 2rem 0;
  padding: 1px 1.5rem;
  border-left: 3px solid var(--Grey);
}