/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
  --White: #ffffff;
  --Grey: #d3d3d3;
  --Dgrey: #4a4a4a;
  --Black: #000000;
  --Blue: #073F63;
  --DBlue: #192D44;
  --MidBlue: #09517D;
  --LBlue: #2BAFE1;
  --Bright-Green: #C1E32E;
  --White-Copy: #ffffff; 
  --Grey-Copy: #d3d3d3;
  --Dgrey-Copy: #4a4a4a;
  --White-Copy: #ffffff;
  --Black-Copy: #000000;
  --Blue-Copy: #073F63;
  --MidBlue-Copy: #09517D;
  --DBlue-Copy: #192D44;
  --LBlue-Copy: #2BAFE1;
  --Bright-Green-Copy: #C1E32E;
  --HeadCopy: 'Mont-Bold', sans-serif;
  --SubHeadCopy: 'Mont-Bold', sans-serif;
  --BodyCopy: 'Mont-light', sans-serif;
  --LightCopy: 'Mont-Xlight', sans-serif;
  --RegCopy: 'Mont-Reg', sans-serif;
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --515vp (width < 515px);
@custom-media --768vp (width < 768px);
@custom-media --980vp (width < 980px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);
@custom-media --1460vp (width < 1460px);
@custom-media --1690vp (width < 1690px);


/*-------------------------------------------------------------------
    Mixins
-------------------------------------------------------------------*/
@define-mixin Flex {
  display: flex;
  flex-wrap: wrap;
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--BodyCopy);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body.logged-in{
  margin-top: -32px;
}

.main-container{
  margin-top: 95px;
}

.hide{
  display: none;
  transform: scale(0);
}

strong, b{
  font-family: var(--HeadCopy);
  font-weight: 900;
}

a{
  color: var(--LBlue-Copy);
}