.apply-online, .page{
  .default-banner-section{
    width: 100%;
    min-height: 30vh;
    margin-top: 95px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @add-mixin Flex;
    justify-content: flex-start;
    align-items: center;
    @media(--1024vp){
      min-height: 45vh;
      background-attachment: inherit;
    }
    .content{
      text-align: left;
      width: 100%;
      max-width: 1054px;
      margin: auto;
      padding: 0 30px;
      position: relative;
      top: -40px;
      @media(--1024vp){
        text-align: center;
      }
      h1{
        font-size: responsive 20px 60px;
        font-range: 420px 1440px;
        color: var(--White-Copy);
        margin-bottom: 10px;
      }
      p{
        color: var(--White-Copy);
      }
    }
  }
}