.search-banner-section{
  background-image: url('../images/mobile-beach.jpg');
  width: 100%;
  min-height: 20vh;
  margin-top: 95px;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  color: var(--White-Copy);
  h1{
    font-size: responsive 28px 50px;
    font-range: 420px 1440px;
  }
}
.search-wrap{
  width: 100%;
  min-height: 60vh;
  @add-mixin Flex;
  justify-content: center;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 60px 30px 30px 30px;
    h1, h2, h3, h4{
      font-size: responsive 20px 30px;
      font-range: 420px 1440px;
      margin-top: 0;
      @media(--1024vp){
        text-align: left;
      }
    }
  }
}