/*-----------------------------------------
    WEB STYLEGUIDE
-----------------------------------------*/
.styleguide-section {
  max-width: 1024px;
  width: 90vw;
  margin: 0 auto;
  &.web-elements { 
  	max-width: 100%; 
    & hr {
      width: 100%;
      margin: 30px auto;
      height: 1px;
      background-image: var(--Grey);
    }
  }
  &:first-of-type > h2 { 
  	margin-top: 0;
  }
  & > h2 { 
    width: 100%; 
    margin: 2rem 0 1rem 0;
    padding: .5rem;
    border-bottom: 1px solid var(--Grey);
    color: var(--Black-Copy);
    text-transform: uppercase;
  } 
}
.styleguide-section--title {
	max-width: 700px;
	text-align: center;
	margin-bottom: 4rem;
	& h1, & h2 {
		margin: 0;
		border: none;
		text-transform: uppercase;
		padding: 0;
	}
	& h2 {
		text-transform: none;
	}
	& p {
		margin: 0;
	}
}


.styleguide-section__sub {
  & > h2, & > h3, & > h4, & > h5, & > h6, & > p, & > .block { 
    width: 100%;
  }
  & > h3 {
    padding: .5rem 0;
    margin: 20px 0 0 0;
  }
  & > .block {
  	display: flex;
  	flex-wrap: wrap;
    max-width: 1024px;
  	margin-left: auto;
  	margin-right: auto;
  }
}

/*-----------------------------------------
    LOGOS
-----------------------------------------*/
.primary-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  border: 1px solid var(--Grey);
  & img {
    height: 275px;
    max-width: 100%;
  }
}

.logo-varient {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid var(--Grey);
  & .varient-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    & img {
      height: 175px;
      max-width: 100%;
    }
  }
  & .logo-varient__description {
    padding: 1rem;
    border-top: 1px solid var(--Grey);
    & p { 
    	margin: 0; 
    	font-size: .75rem; 
    }
  }
}

/*-----------------------------------------
    COLORS
-----------------------------------------*/
.color {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid var(--Grey);
  & .color__swatch {
    min-height: 125px;
  }
  & .color__details {
    border-top: 1px solid var(--Grey);
    padding: .5em;
    & h4 {
    	margin: 0 0 1rem 0;
    }
    & p { 
      font-size: .75rem; 
			margin: 0 0 .1rem 0;
    }
  }
}

/*-----------------------------------------
    ICONS
-----------------------------------------*/
.brand-icon {
  width: 18%; 
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  border: 1px solid var(--Grey);
  text-align: center;
  padding: 1rem;
  & img {
    max-width: 100%;
  }
}

/*-----------------------------------------
    IMAGERY
-----------------------------------------*/
.brand-imagery {
  width: 48%; 
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid var(--Grey);
  display: flex;
  align-items: center;
  & img {
    width: 100%;
    display: block;    
  }
}

/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
.font-style {
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid var(--Grey);
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &:first-child p:first-child { 
  	font-family: var(--HeadCopy); 
  }
  &:nth-child(2) p:first-child { 
  	font-family: var(--BodyCopy); 
  }
  & p { 
    width: 100%;
    text-align: center;
    margin: 0;
    &:first-child {
      font-size: 1.5rem;
    }
  }
}

.headline-option {
	width: 98%;
	margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid var(--Grey);
  & h1, & h2, & h3, & h4, & h5, & h6, & p {
    margin: 0;
  }
  & p:last-child {
    margin-top: .5rem;
  }
  & blockquote, & q {
    padding: 0;
    margin: 0 0 .5rem;
    font-style: italic;
  }
}

/*-----------------------------------------
    BUTTONS
-----------------------------------------*/


/*-----------------------------------------
    FORMS
-----------------------------------------*/
