.thanks-wrap{
  width: 100%;
  height: 100vh;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../images/mobile-beach.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 30px;
    color: var(--White-Copy);
    text-align: center;
    .close-contain{
      width: 100%;
      text-align: center;
    }
    h1{
      font-size: responsive 28px 40px;
      font-range: 420px 1440px;
      color: var(--White-Copy);
      margin-bottom: 30px;
    }
    .social-contain{
      width: 100%;
      padding: 30px;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        @add-mixin Flex;
        justify-content: center;
        align-items: center;
        li{
          margin: 0 10px;
        }
      }
    }
  }
}