.about-content-one{
  width: 100%;
  min-height: 45vh;
  background-color: var(--White);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin-top: 0;
      text-align: center;
      @media(--1024vp){
        text-align: left;
      }
    }
  }
}
.about-content-two{
  min-height: 55vh;
  background-color: var(--Blue);
  padding: 30px 0;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  .card-contain{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    @add-mixin Flex;
    justify-content: center;
    .card{
      background-color: var(--MidBlue);
      padding: 20px;
      max-width: 260px;
      margin: 0 10px 20px 10px;
      font-size: 14px;
      h5{
        text-align: center;
        color: var(--White-Copy);
        letter-spacing: .08em;
        font-size: 10px;
        margin: 0;
      }
      h2{
        text-align: center;
        color: var(--Bright-Green-Copy);
        font-size: 64px;
        font-family: var(--BodyCopy);
        margin: 10px 0 10px 0;
      }
      p{
        color: var(--White-Copy);
      }
      p.sub-headline{
        font-size: 11px;
        text-align: center;
      }
      ul{
        list-style: none;
        li{
          color: var(--White-Copy);
          position: relative;
          margin-bottom: 15px;
          &::before{
            content: "\002022";
            left: -13px;
            color: var(--Bright-Green);
            position: absolute;
            font-size: 2em;
            top: -12px;
          }
        }
      }
    }
  }
  .button-container{
    width: 100%;
    @add-mixin Flex;
    justify-content: center;
  }
}