.book-form-section{
  min-height: 20vh;
  @add-mixin Flex;
  justify-content: center;
  width: 100%;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    .educator-question{
      h2{
        color: var(--Blue-Copy);
        font-size: responsive 20px 50px;
        font-range: 420px 1440px;
        margin-top: 0;
        text-align: center;
      }
      .boolean-buttons{
        @add-mixin Flex;
        justify-content: center;
        .button{
          margin: 0 10px 10px;
          padding: 10px 60px 10px 60px;
        }
      }
    }
  }
}
.form-wrapper{
  @add-mixin Flex;
  justify-content: center;
  width: 100%;
  background-color: var(--Blue);
  padding: 0 30px;
  .content{
    width: 100%;
    max-width: 500px;
    @add-mixin Flex;
    justify-content: center;
    position: relative;
    .edu-form{
      display: none;
      overflow: hidden;
      width: 100%;
      .gf_step{
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 1;
        span{
          font-size: 20px;
          color: var(--White-Copy);
          font-family: var(--HeadCopy);
        }
        .gf_step_label{
          color: var(--Bright-Green-Copy);
          font-family: var(--BodyCopy);
        }
      }
      #gf_step_2_1{
        @add-mixin Flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        &::before{
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          width: 32%;
          height: 5px;
          background-color: var(--MidBlue);
        }
      }
      #gf_step_2_1.gf_step_active, #gf_step_2_1.gf_step_completed{
        &::before{
          background-color: var(--Bright-Green);
        }
      }
      #gf_step_2_2{
        @add-mixin Flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        &::before{
          content: "";
          position: absolute;
          top: 40px;
          left: 33%;
          width: 32%;
          height: 5px;
          background-color: var(--MidBlue);
        }
      }
      #gf_step_2_2.gf_step_active, #gf_step_2_2.gf_step_completed{
        &::before{
          background-color: var(--Bright-Green);
        }
      }
      #gf_step_2_3{
        @add-mixin Flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        &::before{
          content: "";
          position: absolute;
          top: 40px;
          left: 66%;
          width: 32%;
          height: 5px;
          background-color: var(--MidBlue);
        }
      }
      #gf_step_2_3.gf_step_active, #gf_step_2_3.gf_step_completed{
        &::before{
          background-color: var(--Bright-Green);
        }
      }
      .gf_step_pending, .gf_step_completed{
        span{
          display: none;
        }
      }
      .gform_body{
        margin-top: 80px;
      }
      .gform_page_footer{
        border: none;
      }
      #input_2_28 li{
        display: inline-block;
        margin: 0 10px;
        label{
          font-family: var(--HeadCopy);
          color: var(--White-Copy);
          font-size: 14px;
        }
      }
      #input_2_29 li{
        label{
          font-family: var(--HeadCopy);
          color: var(--White-Copy);
          font-size: 14px;
        }
      }
    }
    .no-edu-form{
      display: none;
      overflow: hidden;
      width: 100%;
    }
  }
}