.book-content-section{
  width: 100%;
  min-height: 20vh;
  background-color: var(--White);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin-top: 0;
      text-align: center;
      @media(--1024vp){
        text-align: left;
      }
    }
  }
}