.careers-one{
  width: 100%;
  min-height: 45vh;
  background-color: var(--White);
  @add-mixin Flex;
  justify-content: center;
  @media(--1024vp){
    min-height: inherit;
    padding: 30px 0;
  }
  .content-wrap{
    @add-mixin Flex;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    padding: 0 30px;
    .image-wrap{
      width: 50%;
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      @media(--1024vp){
        display: none;
      }
    }
    .content-contain{
      width: 50%;
      @add-mixin Flex;
      align-items: center;
      @media(--1024vp){
        width: 100%;
      }
      .content{
        h1, h2, h3, h4{
          color: var(--Blue-Copy);
          font-size: responsive 20px 50px;
          font-range: 420px 1440px;
          margin-top: 0;
        }
      }
    }
  }
}

.careers-three{
  min-height: 45vh;
  width: 100%;
  @add-mixin Flex;
  background-color: var(--Blue);
  .content-wrapper{
    width: 50%;
    order: 0;
    @add-mixin Flex;
    justify-content: flex-end;
    @media(--1024vp){
      width: 100%;
      order: 1;
    }
    .content-contain{
      width: 100%;
      max-width: 580px;
      padding: 30px 0;
      margin-right: 75px;
      @media(--1460vp){
        margin: 0;
        padding: 30px;
      }
      @media(--1024vp){
        max-width: inherit;
      }
      .content{
        width: auto;
        color: var(--White-Copy);
        @media(--1024vp){
          text-align: left;
        }
        h2{
          margin: 0;
          font-size: responsive 40px 60px;
          font-range: 1024px 1440px;
        }
        h3{
          margin: 0 0 30px 0;
          font-size: responsive 20px 40px;
          font-range: 420px 1440px;
          font-family: var(--BodyCopy);
          color: var(--Bright-Green-Copy);
        }
      }
      .tile-wrap{
        width: 100%;
        .content-tiles{
          @add-mixin Flex;
          width: 100%;
          .career-path{
            lost-column: 1/4 4 10px;
            @add-mixin Flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: var(--MidBlue);
            margin-bottom: 10px;
            padding: 30px 5px;
            @media(--768vp){
              lost-column: 1/2 2 10px;
            }
            .icon-contain{
              img{
                min-height: 60px;
                margin-bottom: 10px;
              }
            }
            .path-title{
              h3{
                font-size: 13px;
                color: var(--White-Copy);
                margin: 0;
                font-family: var(--BodyCopy);
              }
            }
          }
        }
      }
    }
  }
  .image-section{
    width: 50%;
    min-height: 100%;
    order: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    @media(--1024vp){
      width: 100%;
      min-height: 20vh;
      order: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 35%;
    }
  }
}
.careers-four{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  min-height: 45vh;
  background-color: var(--White);
  @add-mixin Flex;
  .content{
    width: 70%;
    padding: 40px 0 30px 0;
    order: 1;
    @media(--1024vp){
      width: 100%;
      order: 0;
      padding: 30px 30px 0 30px;
    }
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin-top: 0;
    }
  }
  .img-wrapper{
    width: 30%;
    order: 0;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center;
    @media(--1024vp){
      width: 100%;
      min-height: 200px;
      order: 1;
      background-size: auto 90%;
      margin-bottom: 30px;
    }
  }
}

.careers-six{
  width: 100%;
  min-height: 45vh;
  background-color: var(--Blue);
  @add-mixin Flex;
  .content-contain{
    width: 50%;
    padding: 40px 50px 30px 50px;
    color: var(--White-Copy);
    order: 0;
    @add-mixin Flex;
    justify-content: flex-end;
    background-image: url('../images/one-bg.png');
    background-size: auto 100%;
    background-position: 5% 50px;
    background-repeat: no-repeat;
    @media(--1024vp){
      width: 100%;
      order: 1;
    }
    .content{
      max-width: 580px;
      padding: 30px 0;
      h2{
        color: var(--White-Copy);
        font-size: responsive 20px 50px;
        font-range: 420px 1440px;
        margin-top: 0;
      }
      h3{
        color: var(--White-Copy);
        font-size: responsive 20px 40px;
        font-range: 420px 1440px;
        font-family: var(--BodyCopy);
      }
    }
  }
  .image-wrapper{
    order: 1;
    width: 50%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    @media(--1024vp){
      width: 100%;
      order: 0;
      min-height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 15%;
    }
  }
}
.careers-seven{
  width: 100%;
  min-height: 40vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  @media(--1024vp){
    background-position: 20% center;
    background-attachment: inherit;
  }
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 30px;
    text-align: center;
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin: 0;
      text-align: center;
    }
    .button-wrap{
      @add-mixin Flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
    }
  }
}