.form-contain{
  width: 100%;
  min-height: 25vh;
  background-color: var(--Blue);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .form-wrap{
    width: 100%;
    max-width: 500px;
    @add-mixin Flex;
    h2{
      color: var(--White-Copy);
      font-size: 28px;
    }
    .gform_wrapper{
      width: 100%;
      margin: auto;
      .gform_footer{
        @media(--768vp){
          width: 200px !important;
          margin: auto !important;
        }
        .btn--primary{
          @media(--768vp){
            width: 100%;
          }
        }
      }
    }
  }
}
.main-content{
  width: 100%;
  min-height: 25vh;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    @media(--768vp){
      padding: 30px;
    }
    .state-wrap{
      @add-mixin Flex;
      justify-content: flex-start;
      width: 100%;
      padding: 30px 0;
      @media(--768vp){
        padding: 0;
      }
      .title-wrap{
        width: 100%;
        h2{
          color: var(--Blue-Copy);
          font-size: responsive 24px 40px;
          font-range: 420px 1440px;
          font-family: var(--BodyCopy);
          margin-top: 0;
        }
      }
      .location-wrap{
        lost-column: 1/4 4 20px;
        margin-bottom: 20px;
        @media(--1024vp){
          lost-column: 1/2 2 20px;
        }
        @media(--768vp){
          width: 100%;
        }
        h3{
          font-size: 16px;
          color: var(--Blue-Copy);
        }
        h4{
          font-size: 14px;
          margin: 0;
        }
        p{
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}