.default-main-content{
  width: 100%;
  min-height: 45vh;
  background-color: var(--White);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 30px;
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin-top: 0;
      text-align: center;
      @media(--1024vp){
        text-align: left;
      }
    }
    p{
      font-size: responsive 14px 18px;
      font-range: 420px 1440px;
    }
  }
  input{
    background-color: var(--White);
    border: 1px solid var(--Black);
    color: var(--Blue-Copy);
  }
  select{
    background-color: var(--White);
    border: 1px solid var(--Black);
    color: var(--Blue-Copy);
  }
  label{
    color: var(--Blue-Copy);
  }
  textarea{
    background-color: var(--White);
    border: 1px solid var(--Black);
    color: var(--Blue-Copy);
  }
}