.default-bc-section{
  min-height: 35px;
  background-color: color(var(--Blue) alpha(80%));
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -40px;
  .bc-contain{
    width: 100%;
    min-height: 35px;
    max-width: 1054px;
    @add-mixin Flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    #breadcrumbs{
      font-size: 12px;
      color: var(--White-Copy);
      a{
        color: var(--White-Copy);
        text-decoration: none;
      }
      span.breadcrumb_last{
        color: var(--Bright-Green-Copy);
      }
    }
  }
}