.directions-modal-contain{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('../images/mobile-beach.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 99999;
  top: 0;
  padding: 4vh 0 9vh 0;
  overflow: auto;
  .content-contain{
    .close-contain{
      width: 100%;
      text-align: center;
      img{
        cursor: pointer;
      }
    }
    .choose-wrap{
      text-align: center;
      h2{
        font-size: 24px;
      }
      p{
        font-family: var(--HeadCopy);
        margin-bottom: 0;
      }
      a{
        color: var(--LBlue-Copy);
        font-size: 14px;
      }
    }
    .locations-wrap{
      @add-mixin Flex;
      width: 100%;
      text-align: center;
      justify-content: center;
      .state-wrap{
        width: 100%;
        @add-mixin Flex;
        justify-content: center;
        .state{
          width: 30%;
          h2{
            font-family: var(--BodyCopy);
          }
          @media(--768vp){
            width: 80%;
          }
          ul{
            list-style: none;
            padding: 0;
            width: 100%;
            li{
              width: 100%;
              margin: 10px 0;
              a.square-btn{
                width: 100%;
                padding: 15px 0;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}
.directions-modal-contain.animated{
  animation-duration: 300ms;
} 