/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer {
  padding: 1vh 0 0 0;
  width: 100%;
  background-color: var(--DBlue);
  color: var(--White-Copy);
  @media(--1024vp){
    padding: 1vh 0 60px 0;
  }
  .footer-directions-wrap{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    .wrap-address{
      text-align: center;
      width: 100%;
      h2{
        font-size: 18px;
      }
      .mobile-privacy{
        display: none;
        font-size: 12px;
        @media(--768vp){
          display: block;
        }
        a{
          color: var(--White-Copy);
        }
      }
    }
    .call-btn-wrap{
      @add-mixin Flex;
      justify-content: center;
      width: 100%;
      .square-btn{
        text-transform: capitalize;
        @media(--768vp){
          display: block;
          margin: 10px 0;
        }
      }
    }
  }
  .footer-social-contain{
    @add-mixin Flex;
    width: 100%;
    max-width: 1024px;
    justify-content: center;
    margin: auto;
    ul{
      @add-mixin Flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        padding: 15px;
      }
    }
  }
  .copyright-contain{
    @add-mixin Flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    border-top: #41566E solid 1px;
    padding: 10px 0;
    @media(--1024vp){
      padding: 0 10px;
    }
    @media(--768vp){
      border: none;
      text-align: center;
      justify-content: center;
    }
    p.desk-privacy{
      display: inline;
      @media(--768vp){
        display: none;
      }
    }
    p{
      color: var(--White-Copy);
      font-size: 12px;
      a{
        color: var(--White-Copy);
      }
    }
  }
}