/*-----------------------------------------
    HEADER
-----------------------------------------*/
header.primary-nav-container {
  @add-mixin Flex;
  align-items: center;
  width: 100%;
  min-height: 95px;
  position: fixed;
  top: 0;
  background-color: color(var(--White) alpha(90%));
  padding: 0 8vw;
  justify-content: center;
  z-index: 99999;
  .nav-wrap{
    @add-mixin Flex;
    width: 100%;
    max-width: 980px;
    .search-icon-mobile{
      display: none;
      @media(--980vp){
        @add-mixin Flex;
        order: 0;
        width: 20%;
        min-width: 40px;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        text-align: center;
        img{
          height: 50px; 
        }
        p{
          margin: 0;
          text-transform: uppercase;
          font-size: 8px;
          font-family: var(--HeadCopy);
          color: #aaaaaa;
          letter-spacing: 0.065em;
        }
      }
    }
    .brand-wrap{
      @add-mixin Flex;
      width: 20%;
      min-width: 121px;
      order: 0;
      padding-top: 12px;
      @media(--980vp){
        order: 1;
        width: 60%;
        justify-content: center;
        align-items: center;
      }
    }
    .mobile-menu-icon{
      display: none;
      @media(--980vp){
        @add-mixin Flex;
        order: 2;
        width: 20%;
        min-width: 40px;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        text-align: center;
        img{
          height: 50px; 
        }
        p{
          margin: 0;
          color: #aaaaaa;
          text-transform: uppercase;
          font-size: 8px;
          font-family: var(--HeadCopy);
          letter-spacing: 0.065em;
        }
      }
    }
    .nav-primary.animated{
      animation-duration: 300ms;
    } 
    .nav-primary{
      width: 80%;
      @add-mixin Flex;
      align-items: center;
      justify-content: space-between;
      order: 1;
      @media(--980vp){
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        background-image: url('../images/mobile-beach.jpg');
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding-top: 3vh;
      }
      .menu-social-contain{
        display: none;
        @media(--980vp){
          @add-mixin Flex;
          width: 100%;
        }
        ul{
          @add-mixin Flex;
          width: 100%;
          li{
            width: auto;
            padding: 5px;
          }
        }
      }
      .mobile-close-button{
        display: none;
        @media(--980vp){
          display: block;
          width: 100%;
          text-align: center;
        }
      }
      ul{
        width: 90%;
        list-style: none;
        padding: 0;
        margin: 0;
        @add-mixin Flex;
        align-items: center;
        justify-content: space-between;
        @media(--980vp){
          width: 100%;
          justify-content: center;
          padding: 3.5vh 0 0 0;
        }
        li{
          padding: 0;
          @media(--980vp){
            width: 100%;
            @add-mixin Flex;
            text-align: center;
            justify-content: center; 
            padding: 2.5vh 0;
            order: 2;
          }
          a{
            font-family: var(--HeadCopy);
            text-decoration: none; 
            color: var(--Blue-Copy);
            font-size: 12px;
            transition: all linear 100ms;
            letter-spacing: 0.075em;
            text-transform: uppercase;
            @media(--980vp){
              color: var(--White);
              font-size: 20px;
            }
            &:hover{
              color: color( var(--Blue-Copy)  lightness(40%) );
              transition: all linear 100ms;
            }
          }
        }
        li.menu-home{
          display: none;
          @media(--980vp){
            @add-mixin Flex;
            order: 1;
          }
        }
        li.menu-book-appointment{
          @media(--980vp){
            order: 3;
            padding-top: 3.5vh;
          }
          a{
            padding: 10px 40px 10px 20px;
            background-color: var(--Blue);
            color: var(--White);
            border-radius: 30px;
            font-size: 9px;
            text-transform: uppercase;
            background-image: url('../images/right-arrow-green.svg');
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 95% center;
            @media(--980vp){
              background-color: var(--Bright-Green);
              color: var(--Blue);
              background-image: url('../images/right-arrow-blue.svg');
            }
            &:hover{
              background-color: color( var(--Blue)  lightness(40%) );
              @media(--980vp){
                background-color: color( var(--Bright-Green)  blackness(20%) );
              }
            }
          }
        }
      }
      .search-icon{
        @add-mixin Flex;
        width: 10%;
        justify-content: flex-end;
        cursor: pointer;
        @media(--980vp){
          display: none;
        }
      }
    }
  }
}