.home-banner-section{
  width: 100%;
  min-height: 85vh;
  margin-top: 95px;
  @media(--1024vp){
    min-height: 60vh;
  }
  .slider-contain{
    width: 100%;
    .slide{
      height: 85vh;
      @add-mixin Flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
      @media(--1024vp){
        height: 60vh;
      }
      .content{
        position: absolute;
        z-index: 700;
        top: 30%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        h1, h2, h3, h4{
          font-family: var(--LightCopy);
          font-size: responsive 20px 60px;
          font-range: 420px 1440px;
          color: var(--White-Copy);
          strong, b{
            font-family: var(--HeadCopy);
          }
        }
      }
      .slide-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.2) 60%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
      }
    }
    .next-slide-contain{
      background-image: url('../images/right-arrow-green.svg');
      background-size: 23px 23px;
      background-position: center center;
      background-repeat: no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 0;
      background-color: color(var(--Black) alpha(50%));
      z-index: 700;
      cursor: pointer;
      @media(--768vp){
        bottom: 0;
        top: inherit;
        margin: 0 5px;
        right: calc(50% - 57px);
      }
      &:hover{
        background-color: color(var(--Black) alpha(80%));
        transition: all linear 200ms;
      }
    }
    .prev-slide-contain{
      background-image: url('../images/right-arrow-green.svg');
      transform: scaleX(-1);
      background-size: 23px 23px;
      background-position: center center;
      background-repeat: no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 0;
      background-color: color(var(--Black) alpha(50%));
      z-index: 700;
      cursor: pointer;
      transition: all linear 200ms;
      @media(--768vp){
        bottom: 0;
        top: inherit;
        left: calc(50% - 57px);
        margin: 0 5px;
      }
      &:hover{
        background-color: color(var(--Black) alpha(80%));
        transition: all linear 200ms;
      }
    }
  }
}