.content-section-one{
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  @media(--1024vp){
    background-attachment: inherit;
    min-height: 40vh;
  }
  .content-contain{
    color: var(--Blue-Copy);
    text-align: center;
    position: relative;
    z-index: 800;
    h1, h2, h3{
      font-size: 24px;
    }
    p{
      color: var(--Dgrey-Copy);
    }
  }
  .content-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: color(var(--White) alpha(35%));
  }
}

.content-section-two{
  width: 100%;
  min-height: 35vh;
  background-color: var(--Blue);
  @add-mixin Flex;
  justify-content: center;
  .content-contain{
    padding: 60px 10px 30px 10px;
    background-color: var(--White);
    width: 40%;
    box-shadow: 0 7px 27px 0 color(var(--Black) alpha(50%));
    position: relative;
    bottom: -60px;
    @add-mixin Flex;
    justify-content: center;
    @media(--1024vp){
      width: 90%;
    }
    .wrap-content{
      width: 65%;
      @media(--1024vp){
        width: 80%;
      }
      h2{
        text-align: center;
        color: var(--Blue);
        margin: 0 0 50px 0;
        position: relative;
        &::after{
          content: "";
          width: 27px;
          height: 3px;
          background-color: var(--Bright-Green);
          position: absolute;
          bottom: -25px;
          right: 47%;
        }
      }
      p{
        margin: 25px 0;
      }
    }
  }
}

.content-partners-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.title-contain {
		width: 100%;
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
		h3 {
			text-align: center;
			color: #073f63;
			margin: 50px 0;
			width: 100%;
		}
	}
	.card-contain {
		width: 100%;
    padding: 0 30px;
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
		.card {
			padding: 20px;
			max-width: 260px;
			margin: 0 60px 40px;
			position: relative;
    	padding-bottom: 42px;
			display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
			p {
				font-size: 14px;
				margin: 10px 0;
				text-align: center;
			}
			a {
				position: absolute;
    		bottom: 0;
			}
		}
	}
}