.mobile-bottom-menu-wrap{
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  min-height: 60px;
  background-color: color(var(--Blue) alpha(88%));
  z-index: 999999;
  @media(--1024vp){
    display: block;
  }
  nav.mobile-bar{
    width: 100%;
    height: 100%;
    @add-mixin Flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    ul{
      @add-mixin Flex;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 60px;
      li{
        text-align: center;
        @add-mixin Flex;
        height: 100%;
        a{
          color: var(--White-Copy);
          text-decoration: none;
          img{
            margin: 3px 0;
          }
          h4{
            margin: 0;
            font-family: var(--RegCopy);
            font-size: 9px;
          }
        }
      }
    }
  }
}