.service-content-one{
  width: 100%;
  min-height: 45vh;
  background-color: var(--White);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 100%;
    max-width: 1054px;
    padding: 0 30px;
    h1, h2, h3, h4{
      color: var(--Blue-Copy);
      font-size: responsive 20px 50px;
      font-range: 420px 1440px;
      margin-top: 0;
      text-align: center;
      @media(--1024vp){
        text-align: left;
      }
    }
  }
}
.service-content-two{
  width: 100%;
  min-height: 20vh;
  background-color: var(--Blue);
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2vw;
  .content{
    width: 100%;
    @media(--1024vp){
      width: 540px;
      max-width: 100%;
			padding: 20px 2vw 0;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      @add-mixin Flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li{
        min-width: 25%;
        @add-mixin Flex;
        justify-content: center;
        align-items: center;
        @media(--1024vp){
         width: 270px;
         justify-content: flex-start;
         margin-bottom: 20px;
        }
        .img-wrap{
          margin-right: 20px;
        }
        .headline-contain{
          h3{
            color: var(--White-Copy);
            font-size: 20px;
            margin: 0;
          }
          p{
            color: var(--Bright-Green-Copy);
            font-size: 11px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.service-content-three{
  width: 100%;
  max-height: 55vh;
  min-height: 370px;
  background-color: var(--White);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @add-mixin Flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  @media(--1024vp){
    background-attachment: inherit;
  }
  @media(--768vp){
    padding: 30px;
  }
  .content{
    h2{
      color: var(--White-Copy);
      font-size: responsive 28px 50px;
      font-range: 420px 1440px;
      text-align: center;
      margin-top: 0;
    }
    ul{
      list-style: none;
      @add-mixin Flex;
      justify-content: center;
      li{
        color: var(--White-Copy);
        position: relative;
        margin-bottom: 15px;
        width: 51%;
        font-size: responsive 14px 25px;
        font-range: 420px 1440px;
        margin-left: 17%;
        &::before{
          content: "\002022";
          left: -25px;
          color: var(--Bright-Green);
          position: absolute;
          font-size: 2em;
          top: -60%;
        }
      }
    }
    .button-container{
      width: 100%;
      text-align: center;
    }
  }
}